## Competency Questions

| Module | Class | Test | Competency Question | Status |
|--------|-------|------|---------------------|--------|
{% for result in result_list -%}
| {{ result.module_name }} | {{ result.class_name }} | {% if result.test_link %}[{{ result.test_name }}]({{ result.test_link }}){% else %}{{ result.test_name }}{% endif %} | {{ result.competency_question or "" }} | {{ result.status }} |
{% endfor -%}
